.container
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Forgot your password?
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            %fieldset
              .form-group
                = f.email_field :email, autofocus: true, :placeholder => "E-mail", class: 'form-control'


              = link_to "Cancel", root_path, class: "col-md-6 btn btn-lg btn-primary"
              = f.submit "Send instructions", class: "col-md-6 btn btn-lg btn-success"

          = render "devise/shared/links"
